body {
    scroll-behavior: smooth;
}

.section_container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}

/* Sparkle animation */
@keyframes sparkle {
    0% {
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    100% {
        transform: translate(50%, 50%);
        opacity: 0.5;
    }
}

#meImg {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 50px;
}

.text_template1 {
    padding: 40px;
    border-radius: 20px;
    background-color: #292c39;
}

.text_template1::after {
    content: "";
    position: absolute;
    border-radius: 20px;
    bottom: 20vh;
    right: 8vw;
    width: 42vw;
    height: 50vh;
    background-color: #1d202f;
    z-index: -1;
    -webkit-box-shadow: 10px 10px 15px 10px #1d202f;
    box-shadow: 10px 10px 15px 10px #1d202f;
    animation: A_breathe 2s infinite;
}

.text_template1 h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.text_template1 p {
    font-size: 16px;
    line-height: 24px;
}

#meImg_container {
    margin-right: 125px;
    border-radius: 50px;
}

.typewriter h1 {
    color: #fff;
    overflow: hidden;
    border-right: 0.15em solid rgb(136, 136, 241);
    white-space: nowrap;
    letter-spacing: 0.3rem;
    animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
    width: fit-content;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: rgb(136, 136, 241);
    }
}

#contents_list p {
    font-size: 22px;
    line-height: 40px;
    color: #d8d8d8;
    flex: 1;
}

#contents_list div {
    font-size: 22px;
    display: flex;
    align-items: center;
}

#contents_list a {
    display: flex;
    flex-direction: row;
}

#contents_list a:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(60, 103, 227, 0.9);
    -moz-box-shadow: 0px 0px 10px 0px rgba(60, 103, 227, 0.9);
    box-shadow: 0px 0px 10px 0px rgba(60, 103, 227, 0.9);
    background-color: rgba(60, 103, 227, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    border-radius: 5px;
    padding: 0 10px;
    font-weight: 600;
}

#skateVideo video {
    height: 450px;
    height: 450px;
    border-radius: 50px;
    display: block;
}

#artImg img {
    height: 450px;
    width: 420px;
    border-radius: 50px;
    display: block;
}

#artImg {
    margin-right: 150px;
}

#skateVideo {
    margin-left: 150px;
}

.box_title {
    letter-spacing: 2px;
    font-size: 40px;
    margin-bottom: 10px;
}

.box_desc {
    line-height: 25px;
    font-size: 18px;
}

.q_link {
    line-height: 200%;
}

#PERImg_container {
    display: flex;
    flex-direction: row;
}

#PERImg_container img {
    flex: 1;
    height: 200px;
    width: 400px;
    object-fit: cover;
}

#PERImg_text {
    width: 100%;
    background-color: #292c39;
    padding: 40px;
    border-radius: 20px;
    margin-top: 15px;
}

#PERImg_text h1 {
    letter-spacing: 2px;
    font-size: 40px;
}

#PERImg_text h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(179, 179, 179);
}

#PERImg_container::before {
    content: "";
    position: absolute;
    transform: translate(-80px, -80px);
    z-index: -1;
    background-color: rgb(89, 84, 157);
    width: 400px;
    height: 400px;
    background: linear-gradient(45deg, #9a73b4 0%, #4751c0 100%);
    animation: morph 3s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transition: all 1s ease-in-out;
}

#PERImg_text::after {
    content: "";
    position: absolute;
    right: 0;
    transform: translate(-50px, -50px);
    z-index: -1;
    background-color: rgb(118, 123, 155);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(45deg, #88d5bf 0%, #5d6bf8 100%);
    animation: morph 3s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transition: all 1s ease-in-out;
}
