/* Fade-in Section */
.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 2s ease-out, transform 1s ease-out,
        visibility 2s ease-out;
    will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

/* Glowing Border */
@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.E_glowBorder {
    background: transparent;
    position: relative;
}

.E_glowBorder::before,
.E_glowBorder::after {
    content: "";
    position: absolute;
    inset: -0.6vw;
    z-index: -1;
    background: linear-gradient(
        var(--gradient-angle),
        #5ddcff,
        #3c67e3 43%,
        #4e00c2
    );
    border-radius: inherit;
    animation: rotation 2.5s linear infinite;
}

.E_glowBorder::after {
    filter: blur(3.5rem);
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }
    100% {
        --gradient-angle: 360deg;
    }
}
