@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/aquire");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    pointer-events: none;
}

body {
    background-color: rgb(19, 19, 30);
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

a {
    pointer-events: initial;
}

u {
    text-decoration: underline rgb(136, 136, 241);
    text-underline-offset: 0.5vh;
    text-decoration-thickness: 3px;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    font-size: 1.2vw;
}

u a {
    padding: 5px;
}

u:hover {
    background-color: rgba(60, 103, 227, 0.4);
    text-decoration: underline rgb(158, 200, 242);
}

::-webkit-scrollbar {
    display: none;
}

.F_aquire {
    font-family: "Aquire", sans-serif;
}

@keyframes A_breathe {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes A_fadeIn {
    to {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes A_fadeMoveDown {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}
